/**
 * @description WSP Nightly
 * @author stefan@covi.de
 * @since 5.0
 * @type design
 * @version 7.0
 * @lastchange 2019-09-10
 */

html, body {
    background-color: rgb(44, 44, 48);
}

pre {
    color: #333;
    background-color: rgba(245, 245, 245, 0.25);
    border: 1px solid #ccc;
}

.auth-box {
    background-color: rgb(11, 11, 12);
    color: rgb(193, 193, 198);
}

.form-control {
    background-color: rgb(193, 193, 198);
}

.navbar-default {
    background: rgb(11, 11, 12);
    -moz-box-shadow: 0 0px 10px 2px rgba(22, 22, 24, 0.25);
    -webkit-box-shadow: 0 0px 10px 2px rgba(22, 22, 24, 0.25);
    box-shadow: 0 0px 10px 2px rgba(22, 22, 24, 0.25);
}

.sidebar .submenu > li > a:hover, 
.sidebar .submenu > li > a:focus, 
.sidebar .nav > li > a:hover, 
.sidebar .nav > li > a:focus, 
.sidebar .nav > li > a.active {
    background: rgba(0,0,0,0.2);
}

#wrapper .sidebar {
    background-color: rgb(44, 44, 48);
}

.main-content {}

.content-heading {
    background-color: rgb(22, 22, 24);
    color: rgb(193, 193, 198);
}

.panel {
    background-color: rgb(44, 44, 48);
}

.panel .panel-heading {
    background-color: rgb(22, 22, 24);
    color: rgb(193, 193, 198);
}

.panel.panel-tab .nav-tabs > li.active a,
.panel.panel-tab .nav-tabs > li.active a:hover,
.panel.panel-tab .nav-tabs > li.active a:focus {
    background-color: rgb(44, 44, 48);
}

.panel.panel-tab .nav-tabs > li > a:hover {
    background-color: rgb(88, 88, 96);
    border-color: rgb(88, 88, 96);
}

.panel.panel-tab .nav-tabs > li.active > a:after {
    visibility: hidden;
}

.panel.panel-tab .nav-tabs > li:first-child.active a {
    border-left: none;
}

.widget {
    border: 1px solid #d1d6e6;
    background-color: rgb(44, 44, 48);
}

.btn-primary {
    color: rgb(0, 170, 255);
    background-color: rgb(0, 85, 128);
    border-color: rgb(0, 85, 128);
}

.btn-danger {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-default {
    background-color: rgb(193, 193, 198);
}