_wsp_/data/include/wspconf.inc.php
_wsp_/updater.php
_wsp_/testfile-wsp.txt
_wsp_/versions.php
_wsp_/tmp/*
_wsp_/.*

media/*
[a-z]*/*

!_wsp_/*
!data/*

data/menu/*
data/script/slick/*
data/script/fsopt.js

/*.php
/*.html

.editorconfig
.DS_Store
_wsp_/.DS_Store
data/.DS_Store
