_wsp_/data/include/wspconf.inc.php
_wsp_/updater.php
_wsp_/testfile-wsp.txt
_wsp_/versions.php
_wsp_/tmp/*
_wsp_/.*

media
media/*
[a-z]*/*

!_wsp_/*
!data/*
!data/script/covifuncs.js
!data/script/jquery/*
!_wsp_/tmp/database.xml
!_wsp_/tmp/database.sql

data/menu/*
data/script/*

/*.php
/*.html

.editorconfig
.DS_Store
_wsp_/.DS_Store
data/.DS_Store

